.info {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}
.city,
.currentTemp,
.currentInfo,
.description {
    display: flex;
    justify-content: center;
}
.minMax,
.sunWind {
    display: flex;
    justify-content: space-between;
}

.minMax p:first-child,
.sunWind p:first-child {
    display: flex;
    justify-content: center;
}
.minMax p:nth-child(2),
.sunWind p:nth-child(2) {
    display: flex;
    justify-content: center;
}
.city p:first-child {
    font-size: 28px;
}
.city p:nth-child(2) {
    display: flex;
    align-items: center;
}
.currentTemp {
    font-size: 47px;
}
.currentInfo {
    font-size: 15px;
}
